<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/index.css" media="screen"/>
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" media="screen"/>
    </noscript>
    <script src="/js/vendor.js"></script>

    <title>Login | Register</title>
    <meta charset="utf-8"/>
</head>
<body class="is-preload">
<div id="wrapper">
    <section id="main">
        <header>
            <h1>Traffic Analyser</h1>
            <p>Login</p>
        </header>
        <form method="post" action="/user/menu" th:object="${userDTO}">
            <div class="fields">
                <div class="field">
                    <input th:field="*{name}" type="text" name="name" id="nameLogin" placeholder="Name"/>
                </div>
                <div class="field">
                    <input th:field="*{password}" type="password" name="password" id="passwordLogin"
                           placeholder="password"/>
                </div>
            </div>
            <ul class="actions special">
                <li><a href="/user/menu" class="button">Go to account</a></li>
            </ul>
        </form>
        <!--
        <header>
            <p>No account yet? Register!</p>
        </header>
        <form method="post" action="/user/menu" th:object="${userDTO}">
            <div class="fields">
                <div class="field">
                    <input th:field="*{name}" type="text" placeholder="name"/>
                </div>
                <div class="field">
                    <input th:field="*{password}" type="password" placeholder="password"/>
                </div>
                <div class="field">
                    <select name="department" id="department">
                        <option value="">Admin</option>
                    </select>
                </div>
                <div class="field">
                    <input type="checkbox" id="human" name="human"/><label for="human">Accept terms and
                    conditions</label>
                </div>
            </div>
            <a type="submit" href="/user/menu" class="button">Get Started</a>
        </form>
        -->
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Karel de Grote Hogeschool</li>
            <li>Jarne Van Aerde</li>
        </ul>
    </footer>
</div>
</body>
</html>