<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/index.css" media="screen"/>
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" media="screen"/>
    </noscript>
    <script src="/js/vendor.js"></script>

    <title>Login</title>
    <meta charset="utf-8"/>
</head>
<body class="is-preload">
<div id="wrapper">
    <section id="main">
        <header>
            <h1>Traffic Analyser</h1>
            <p>Login</p>
        </header>
        <form method="POST" action="/user/login">
            <div class="fields">
                <div class="field">
                    <input type="text" name="username" id="username" placeholder="username"/>
                </div>
                <div class="field">
                    <input type="password" name="password" id="password" placeholder="password"/>
                </div>
            </div>
            <button type="submit"><a>Go to account</a></button>
        </form>
        <hr/>
        <header>
            <p>Register</p>
        </header>
        <form method="POST" th:object="${user}" action="/user/register">
            <div class="fields">
                <div class="field">
                    <input th:field="*{username}" type="text" name="name" id="usernameReg" placeholder="name"/>
                </div>
                <div class="field">
                    <input th:field="*{password}" type="password" name="pass" id="passwordReg" placeholder="pass"/>
                </div>
            </div>
            <button type="submit"><a>Register</a></button>
        </form>
    </section>

    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Karel de Grote Hogeschool</li>
            <li>Jarne Van Aerde</li>
        </ul>
    </footer>
</div>
</body>
</html>