<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/index.css" media="screen"/>
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" media="screen"/>
    </noscript>
    <script src="/js/vendor.js"></script>

    <meta charset="UTF-8">
    <title>Option Settings</title>
</head>
<body class="is-preload">
<div id="wrapper">
    <section id="main">
        <header>
            <h1>Options</h1>
        </header>
        <form method="post" action="/option/update" th:object="${optionsDTOS}">
            <div th:each="option, itemStat : *{optionDTOList}" class="fields">
                <div class="field">
                    <label th:text="*{optionDTOList[__${itemStat.index}__].key}"></label>
                    <input type="hidden" th:field="*{optionDTOList[__${itemStat.index}__].key}"/>
                    <input type="text" th:field="*{optionDTOList[__${itemStat.index}__].value}"/>
                </div>
            </div>
            <button type="submit"><a>Save options</a></button>
        </form>
        <button><a href="/user/menu">Go back</a></button>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Karel de Grote Hogeschool</li>
            <li>Jarne Van Aerde</li>
        </ul>
    </footer>
</div>
</body>
</html>