<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Option Settings</title>
</head>
<body>
<form method="post" th:object="${optionDTO}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text"
                       th:field="${optionDTO.value}" class="form-control input-sm"
                       placeholder="Enter greeting here" tabindex="1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="submit" value="Verstuur" class="btn btn-primary btn-block btn-sm"
                   tabindex="2">
        </div>
    </div>
</form>
</body>
</html>