<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/index.css" media="screen"/>
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" media="screen"/>
    </noscript>

    <meta charset="UTF-8">
    <title>Application Settings</title>
</head>
<body>
<div id="wrapper">
    <section id="main">
        <header>
            <h1>Queue is currently running</h1>
        </header>
        <ul class="actions special">
            <a href="/app/toggleQueue" class="button">Pause queue</a>
        </ul>
        <ul class="actions special">
            <a href="/user/menu" class="button">Go Back</a>
        </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Karel de Grote Hogeschool</li>
            <li>Jarne Van Aerde</li>
        </ul>
    </footer>
</div>
</body>
</html>